<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>Namierzono statek</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css">
        h1 {
            font-size: 26px;
            color: #FFFFFF !important;
            font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;
            line-height: 1.5;
        }
        h2 {
            color: #FFFFFF !important;
            font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;
            line-height: 1.5;
        }
        h3 {
            font-size: 12px;
            color: #FFFFFF !important;
            font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;
        }
        p {
            font-size: 16px;
            color: #FFFFFF;
            font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;
            line-height: 1.5;
        }
        table {
            border: 1px solid #e4e4e4;
            width: 100%;
            background-color: #303030;
        }
        td {
            text-align: center;
        }
        a {
            color: #FFFFFF !important;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <td height="50">
            <p>Aktywuj swoje konto</p>
        </td>
    </tr>
    <tr bgcolor="#424242">
        <td height="100">
            <div>
                <h2>Aby aktywować konto wejdź na <a th:href="${basePath} + 'authorization?activation_key=' + ${activation_key}">Bizee.chat</a></h2>
            </div>
        </td>
    </tr>
    <tr>
        <td height="50"></td>
    </tr>
</table>
</body>
</html>
